{% extends 'base.html'%}

{%block content%}
{%block title%}<h1><b>Register a New User</b></h1>{%endblock%}
<h4 class="display-1">Register</h4>
<p class="lead">Register below to start giving some feedback about whatever!!</p>
<form method="POST">
    {{form.hidden_tag()}}
    {% for field in form
    if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success" type="submit">Register</button>
</form>
{%endblock%}